.health-category-list-item {
  ion-icon {
    font-size: 32px;

    &.activity {
      fill: rgb(237, 98, 48);
    }

    &.body-measurements {
      fill: rgb(178, 102, 234);
    }

    &.cycle-tracking {
      fill: rgb(212, 103, 112);
    }

    &.hearing {
      fill: rgb(53, 134, 246);
    }

    &.heart {
      fill: rgb(236, 75, 99);
    }

    &.mindfulness {
      color: rgb(102, 225, 224);
    }

    &.mobility {
      color: rgb(242, 162, 60);
    }

    &.nutrition {
      color: rgb(104, 204, 103);
      fill: rgb(142, 142, 147);
    }

    &.other-data {
      fill: rgb(53, 135, 247);
    }

    &.respiratory {
      fill: rgb(117, 198, 242);
    }

    &.sleep {
      fill: rgb(242, 153, 56);
    }

    &.symptoms {
      color: rgb(91, 98, 222);
    }

    &.vitals {
      fill: rgb(236, 75, 99);
    }
  }
}
